@import 'tailwindcss';

@theme {
  --color-app-background: rgb(19 22 31);
  --color-foreground: rgb(178 184 205);
  --color-primary: rgb(19 22 31);
  --color-secondary: rgb(28 31 40);
  --color-border: rgb(36 40 49);
  --color-accent: rgb(148 123 255);
  --color-dark-accent: rgb(46 49 59 / 30%);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #13161f;
}

@layer base {
  /* * {
    @apply border-border outline-ring/50;
  } */
  body {
    @apply bg-app-background text-foreground;
  }
  .editor-btn {
    @apply flex items-center justify-center size-7 rounded-md 
         text-foreground transition-colors cursor-pointer
         hover:bg-white/5 hover:text-white;
  }

  .editor-icon {
    @apply w-4 h-4;
  }

  .editor-placeholder {
    @apply text-gray-500;
  }

  .ProseMirror {
    @apply outline-none w-full transition-all duration-150;
  }

  .ProseMirror p.is-editor-empty:first-child::after {
    content: attr(data-placeholder);
    @apply text-foreground/60 float-left h-0 pointer-events-none absolute top-0;
  }

  .ProseMirror p {
    @apply my-1;
  }

  .ProseMirror ul,
  .ProseMirror ol {
    @apply pl-5 my-2;
  }

  .ProseMirror ul li {
    @apply list-disc;
  }

  .ProseMirror ol li {
    @apply list-decimal;
  }

  .ProseMirror a {
    @apply text-primary underline;
  }

  .ProseMirror strong {
    @apply font-bold;
  }

  .ProseMirror em {
    @apply italic;
  }

  .ProseMirror pre {
    @apply font-mono bg-gray-600 px-1  rounded-md;
  }

  p:empty::after {
    content: '📝 [Empty Paragraph]';
    visibility: hidden;
  }
}
